<!doctype html>
<html lang="en">

<head>
    <title>Notes Application</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>
<header>
    <div class="row  alert alert-primary">
        <div class=" col-7" role="alert">
            <a class="btn btn-primary" href="/user/profile">Profile</a>
        </div>
        <div class="col">
            <img class=" col someClass" src={{profilePicture}} alt="Your Profile Picture">
        </div>
    </div>
</header>

<body>
    <form action="/logout" method="post" style="background-color: rgb(90, 85, 85);">
        <div class="row">
            <div class=" m-3 col-9">
                <button type="submit" class="btn btn-danger btn">Logout</button>
            </div>
            {{!-- <div>
                <img class=" col someClass" src={{profilePicture}} alt="Your Profile Picture">
            </div> --}}
        </div>
    </form>
    <center>
        <main style="background-color:#6b89763a">
            <div class="col-10">
                <center>
                    <h2 class="p-1">NotePad</h2>
                </center>
                <form action="/notes/write" method="post">
                    <div class="p-3">
                        <input type="text" class="form-control" id="title" name="Title" placeholder="Title" required>
                    </div>
                    <div class="p-3">
                        <input type="text" class="form-control" id="body" name="Body" placeholder="Body" required>
                    </div>
                    <br>
                    <center>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </center>
                </form>
            </div>
        </main>
    </center>
    <hr>
    <div class="row">
        <div class="btn-group" role="group">
            <a href="/notes?shared=createdByMe">
                <button type="button" id="buttonId" class="btn btn-outline-primary m-2">
                    Created By Me</button>
            </a>
            <a href="/notes?shared=sharedWithMe">
                <button type="button" id="buttonId" class="btn btn-outline-primary m-2">
                    Shared With Me</button>
            </a>
            <a href="/notes?shared=all">
                <button type="button" id="buttonId" class="btn btn-outline-primary m-2">
                    All Notes</button>
            </a>
        </div>
    </div>
    <center>
        <div class="row p-3" style="justify-content: center;">
            <div class="border p-3 col-5" style="background-color: #4449463a;">
                <div>
                    <center>
                        <h5>My Created Notes</h5>
                    </center>
                    <table class="table">
                        <tr>
                            <th style="background-color: #9AC4A93A;">TITLE</th>
                            <th style="background-color: #9AC4A93A;">BODY</th>
                        </tr>
                        {{#each data}}
                        <tr>
                            <form action="/notes" method="POST">
                                <input type="hidden" name="update" value="DELETE">
                                <input type="hidden" name="id" value="{{this.id}}">
                                <td>
                                    <input class="form-control" style="background-color: bisque;"
                                        value="{{this.Title}}">
                                </td>
                                <td>
                                    <input class="form-control" style="background-color: bisque;" value="{{this.Body}}">
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </td>
                            </form>
                            <form action="/notes/{{this.id}}/share" method="Get">
                                <td>
                                    <input type="submit" class="btn btn-dark" value="Share">
                                </td>
                            </form>
                            <td>
                                <a href="/notes/{{this.id}}/edit" class="btn btn-secondary">Edit</a>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
            </div>
            <div class="border col-6 p-2" style="background-color: #4449463a;">
                <center>
                    <h5>Shared With Me</h5>
                </center>
                <table class="table" style="background-color:;">
                    <tr>
                        <th style="background-color: #9AC4A93A;">TITLE</th>
                        <th style="background-color: #9AC4A93A;">BODY</th>
                    </tr>
                    {{#each shareData}}
                    <tr>
                        <form action="/notes" method="POST">
                            <input type="hidden" name="update" value="DELETE">
                            <input type="hidden" name="id" value="{{this.id}}">
                            <td>
                                <input class="form-control" style="background-color: rgb(209, 186, 158);"
                                    value="{{this.Title}}">
                            </td>
                            <td>
                                <input class="form-control" style="background-color:  rgb(209, 186, 158);"
                                    value="{{this.Body}}">
                            </td>
                        </form>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
        <hr>
    </center>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>