<!doctype html>
<html lang="en">

<head>
    <title>Notes Application</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body style="background-color:#9ac4a93a">
    <center>
        <div class="col-10">
            <center>
                <h2 class="mt-5">NotePad</h2>
            </center>
            <form action="/notes/write" method="post">
                <div class="p-3">
                    <input type="text" class="form-control" id="title" name="Title" placeholder="Title" required>
                </div>
                <div class="p-3">
                    <input type="text" class="form-control" id="body" name="Body" placeholder="Body" required>
                </div>
                <br>
                <center>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </center>
            </form>
        </div>
    </center>
    <hr>
    <center>
        <div class="border p-5 col-10">
            <div>
                <table class="table" style="background-color:;">
                    <tr>
                        <th style="background-color: #9AC4A93A;">ID</th>
                        <th style="background-color: #9AC4A93A;">TITLE</th>
                        <th style="background-color: #9AC4A93A;">BODY</th>
                    </tr>
                    {{#each data}}
                    <tr>
                        <form action="/notes" method="POST">
                            <input type="hidden" name="update" value="DELETE">
                            <input type="hidden" name="id" value="{{this.id}}">
                            <td>
                                <input class="form-control" value="{{this.id}}">
                            </td>
                            <td>
                                <input class="form-control" value="{{this.Title}}">
                            </td>
                            <td>
                                <input class="form-control" value="{{this.Body}}">
                            </td>
                            <td>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </td>
                        </form>
                        <td>
                            <a href="/notes/{{this.id}}/edit" class="btn btn-secondary">Edit</a>
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </center>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>
</html>